.shopping-list {
  background-color: #282c34;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: white;
  width: 600px;
  margin: 100px auto;
  padding: 50px;
  border-radius: 50px;
  box-shadow: 5px 5px 3px #4f5d56;
}

.btn {
  float: right;
}